body {
  min-width: 1300px;
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

form {
  width: 50%;
  border: black;
  display: flex;
  flex-direction: column;
  margin: 3em auto;
  row-gap: 1em;
}

button {
  margin: auto auto;
  border-radius: 10px !important;
}

.react-pdf__Page__textContent.textLayer,
.react-pdf__Page__annotations.annotationLayer {
  display: none; /* Hide the text content and annotations layers */
}

.bold {
  font-weight: bold;
}
