body {
  font-family: "Montserrat";
}

.searchbar-addmap-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 31%;
  margin-bottom: 4em;
}

.map-list-wrapper {
  width: 60%;
  display: flex;
  flex-direction: column;
  max-height: 1000px;
  overflow-y: auto;
  padding-top: 10px;
}

.add-map-btn {
  margin: 0;
}
.filters-background {
  background-color: rgba(0, 0, 0, 0.1);
  padding-top: 1em;
  border-radius: 5px;
  border-top: 1px solid #ccc;
}
.filters-title {
  display: flex;
  align-items: center;
  font-size: 1.5em;
  margin: 0;
  margin-left: 25%;
  width: 50%;
}

.display-col {
  display: flex;
  flex-direction: column;
}

.display-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.filters-img {
  filter: brightness(0);
  width: 1.5em;
  height: 1.5em;
  margin-right: 0.5em;
}

.grey-left-border {
  border-left: 1px solid #ccc;
}

.grey-right-border {
  border-right: 1px solid #ccc;
}

.not-found-msg {
  margin: auto;
}

.course-page-wrapper {
  width: 16.3em;
}
