.search-bar-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-right: 10em;
}

.search-bar {
  display: flex;
  align-items: center;
  width: 30em;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
}

.search-icon {
  color: #888;
  padding-left: 10px;
}

.search-input {
  border: none;
  outline: none;
  width: 100%;
  margin: 0;
  padding-left: 10px;
}

.search-btn {
  margin: 0;
  margin-left: 1em;
  background-color: #ccc;
  color: black;
}

.search-btn:hover {
  background-color: #999;
}
